--exclude stone,spec
--ifdef no-indent
--maxwidth 160
--trimwhitespace always
--hexliteralcase lowercase 
--semicolons never 
--stripunusedargs closure-only 
--decimalgrouping 3 
--disable trailingClosures
--wraparguments before-first
--wrapcollections before-first
--wrapparameters before-first
--closingparen balanced
--self init-only
--disable andOperator
--disable linebreakAtEndOfFile
--disable hoistPatternLet
--specifierorder public,open,override
--disable extensionAccessControl
--disable wrapMultilineStatementBraces
--disable redundantType
--disable enumNamespaces
--disable redundantClosure
--disable redundantVoidReturnType
